.pure-menu-link {
  transition: color, background .5s; 
  color: #ccc;
}

.pure-menu-link:hover {
  color: white;
  background: #555;
}

.pure-menu-item-selected {
  padding: .5em 1em;
  background-color: grey;
  color: black;
}

.pure-menu {
  background: black;
  text-align: center;
}

@keyframes fadein {
  from {
    background: #000;
    color: #ccc;
  } to {
    color: black;
  }
}
