html, body {
  background: black;
  color: lightgrey;
  overflow: hidden;
}

.noselect, .pure-menu, .ui {
  user-select: none;
}

.ui, .pure-menu {
  cursor: default;
}

.container {
  max-width: 60em;
  margin: 1em auto;
}

@media screen and (max-width: 62em) {
  .container {
    margin: 1em;
  }
}
