#the-cook {
  white-space: pre;
  font-family: monospace;
  color: #6272a4;
  padding-left: 24px;
  margin-bottom: 1px;
  background-color: #1C1D24;
  border-bottom: 1px solid #17181D;
  box-shadow: 0 1px #333543;
  flex-shrink: 1;
}

#speach-bubble {
  float: left;
  position: absolute;
}

.eyes-36  { color: #6d8a88 } /* $ */
.eyes-94  { color: #8C9861 } /* ^ */
.eyes-111 { color: #8F9095 } /* o */
.eyes-120 { color: #B45799 } /* x */
